#define fjet JetBrainsMono Nerd Font Mono
#define ffira FiraCode Nerd Font Mono
#define fdejavu DejaVuSansMono Nerd Font Mono
#define fsrccode SauceCodePro Nerd Font Mono
#define fh Hack Nerd Font Mono

XTerm.vt100.faceName: xft:fjet:pixelsize=16
XTerm*termName: xterm-256color
XTerm*saveLines: 10000
XTerm*locale: True
XTerm*loginShell: True
XTerm.vt100.selectToClipboard: True
XTerm*metaSendsEscape: True
